@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-image: url(https://static.wikitide.net/battlecatswiki/1/14/Bg000.png?version=94c43963236283dd4ad8e255bd40fbb8);
  background-size: cover;
  height: 15vmax;
  width: 15vmax;
  z-index: -2;
}
.buttonsHolder {
  position: absolute;
  top: 10%;
  left: 5%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
}

.cashHolder {
  position: absolute;
  top: 5%;
  left: 60%;
  margin-top: -50px;
  margin-left: -50px;

  height: 100px;
}

.cashHolder > p {
  text-align: right;
  width: 700px;
  font-size: 60px;
}
.marquee1 {
  /*cat*/
  position: absolute;
  margin-top: 705px;
  margin-left: -105px;
  width: 105%;
  z-index: -1;
}

.marquee2 {
   /*tank*/
  position: absolute;
  margin-top: 600px;
  margin-left: -105px;
  width: 105%;
  z-index: -1;
}

.marquee3 {
  /*dragon*/
  position: absolute;
  margin-top: 390px;
  margin-left: -105px;
  width: 105%;
  z-index: -1;
}

.marquee4 {
  /*grosscat*/
  position: absolute;
  margin-top: 335px;
  margin-left: -105px;
  width: 105%;
  z-index: -1;
}

.marquee5 {
  /*axecaat*/
  position: absolute;
  margin-top: 675px;
  margin-left: -105px;
  width: 105%;
  z-index: -1;
}

.tankcatSize {
  width: 225px;
  height: 225px;
}

.kingdragonSize {
  width: 450px;
  height: 450px;
}

.grosscatSize {
  width: 500px;
  height: 500px;
}

.axecatSize {
  width: 175;
  height: 175px;
}

h1,
h2,
h3,
p,
ol,
ul,
caption {
  /*font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;*/
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  font-style: normal;
  background-clip: text;
  background: linear-gradient(180deg,rgb(253, 179, 7), rgb(244, 211, 101));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: black;
  /*color: linear-gradient(rgb(253, 196, 7), rgb(255, 211, 66));*/
  text-align: center;
 
  /*text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000,
    1px 1px 0 #000000, -2px 0 0 #000000, 2px 0 0 #000000, 0 2px 0 #000000,
    0 -2px 0 #000000;*/
}

/*
img:hover {
    transform: scale(0.85);
}
*/

img {
  transition-duration: 0.01s;
}

img.half {
  transform: scale(0.5);
}

.shown {
  display: absolute;
}

.hidden {
  display: none;
}
